<!-- 
    This component consists of the box that includes all the tools the user
    needs to collect EXIF queries to search the database by the selected
    tags
 -->
<div class="querybay-container">

    <!-- Empty div in which the current tags will be inserted -->
    <div id="querybay">
    </div>
    
    <!-- Button for filtering the image database by the current tag set -->
    <div>
        <button type="button" id="queryexecute_btn"class="btn btn-primary btn-sm btn-block bg-info">
            Execute Query
        </button>
    </div>
    
</div>
